.design-pick{
    width: 100vw;
    height: 100vh;
}

.design-pick .text-box{
    display: flex;
    align-items: flex-end;
}

.design-pick .text-box .item-box{
    margin-left: auto;
}
.design-pick .text-box .item-box span:not(:nth-child(1)){
    padding-left: 10px;
    border-left: 1px solid #e5e5e5;
}

.design-pick .text-box .item-box span:not(:nth-last-child(1)){
    padding-right: 10px;
}

.design-pick .img-container{
    margin-top: 30px;
    display: flex;
    gap: 16px;
}

.design-pick .img-container .img-box{
    max-width: 500px;
}