.section2{
    width: 100vw;
}

.section2 .text-box h2{
    margin-bottom: 16px;
    letter-spacing: -1px;
}

.section2 .text-box h3{
    font-weight: 700;
}

.section2 .product-box{
    margin-top: 60px;
    display: grid;
    gap: 16px;
    align-items: end;
    grid-template-columns: repeat(4,1fr);
}

.section2 .product{
    border-radius: 16px;
    max-width: 400px;
    max-height: 550px;
    overflow: hidden;
    position: relative;
}

.section2 .product-box h2{
    position: absolute;
    padding: 5%;
    bottom: 0;
    color: white;
    font-weight: 700;
}

